body{

margin: 0;
background-color: yellow;}

.header{
     background-color: yellow;
     padding: 21px;
     text-align: center;
     color: black;
     fornt-family: "comic sans ms", Arial;
}
nav{
     overflow: hidden;
     background-color: whitesmoke;
}
nav a{
     float: left;
     color: white;
     padding: 15px 17px;
     text-decoration: none;

}
nav a:hover{
     background-color: oange;
     color: black;
     }   
.